@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

.header {
  width: 100%;
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #ffffff;
  font-size: 14.5px;
  letter-spacing: -7.5%;
}

.header__title {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.header__title p {
  margin-left: 7px;
}

.container {
  max-width: 470px;
  width: 100%;
  margin: 45px auto 0;
  padding: 0 15px;
}

.card {
  display: flex;
  align-items: center;
  color: #2b283a;
  padding: 18px 0;
}

.card img {
  width: 130px;
  height: 168px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-right: 19px;
}

.icon {
  width: 7px;
  height: 9.55px;
  left: 184px;
  top: 317px;
}

.card__info span p {
  letter-spacing: 17%;
  text-transform: uppercase;
  font-size: 10.24px;
  margin-left: 4px;
}

.card__info span {
  display: flex;
  letter-spacing: 17%;
}

.card__info--location a {
  color: #918e9b;
  font-size: 10.24px;
  transition: color 0.4s ease;
  margin-left: 12px;
}

a:hover {
  color: #f55a5a;
}

.card__info--location {
  display: flex;
  margin-bottom: 7px;
}

.card__info h3 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 14px;
}

.card__info h4 {
  font-weight: 700;
  font-size: 10.24px;
  margin-bottom: 9px;
}

.card__info .description {
  width: 326px;
  height: 45px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2B283A;
}

hr.card__line {
  border-top: 1px solid #d1d0d7;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 480px) {
  .header {
    font-size: 16px;
    padding: 10px;
  }
  
  .header__title {
    width: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0 10px;
  }
  
  .container {
    margin: 20px auto;
    padding: 0 15px;
  }
  
  .card {
    flex-direction: column;
    padding: 15px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .card__info {
    width: 100%;
  }
  
  .card__info h3 {
    font-size: 20px;
  }
  
  .card__info h4,
  .card__info span p,
  .card__info--location a,
  .card__info .description {
    font-size: 9px;
  }
  
  .card__info .description {
    width: 100%;
  }
}
